<h2 mat-dialog-title class="mb-4">Nueva Consulta</h2>

<mat-dialog-content>
  <form [formGroup]="consultationForm">
    <div class="row">
      <div class="col-auto">
        <label for="date" class="form-label">Fecha</label>
        <input type="datetime-local" class="form-control" formControlName="date" id="date">
      </div>
      <div class="col">
        <label for="patients">Pacientes</label>
        <select class="form-select" formControlName="patientId" id="patients">
          <option *ngFor="let patient of patients" [value]="patient.id">{{patient.name}} {{patient.lastname}}</option>
        </select>
      </div>
    </div>
    
    <label class="form-label">Diagnósticos</label>
    <div class="mb-3" style="max-height: 25vh; overflow-y: auto;">
      <div class="row">
        <div class="col-4" *ngFor="let condition of conditions">
          <app-check-box [label]="condition.name" [checked]="condition.checked!" [disable]="false" (checkedChange)="checkedChange($event)"></app-check-box>          
        </div>
      </div>
    </div>
    
    <div class="mb-3">
      <label for="comment" class="form-label">Comentario</label>
      <textarea formControlName="comment" id="comment" class="form-control" rows="3"></textarea>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-between">
  <button mat-dialog-close class="btn btn-danger">Cancelar</button>
  <button class="btn btn-success" (click)="addConsultation()">Guardar</button>
</mat-dialog-actions>
