<div class="col overflow-auto" style="max-height: 90vh;">
  <button class="btn btn-custom mb-2" (click)="openAddConsultation()">
    <i class="bi bi-person-plus-fill"></i> Nueva Consulta
  </button>
  <table class="table table-striped table-dark table-hover">
    <thead style="position: sticky; top: 0; z-index: 1;">
      <tr>
        <th class="rounded-top-3 rounded-end-0" style="width: 100px;">Fecha</th>
        <th>Paciente</th>
        <th>Diagnostico</th>
        <th class="rounded-start-0 rounded-end-3 text-center" style="width: 125px;">Acciones</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let consultation of consultations">
        <td>{{consultation.date | date:'dd-MM-yyyy'}}</td>
        <td>{{getPatientById(consultation.patientId)}}</td>
        <td>{{getDiagnostic(consultation.diagnostic)}}</td>
        <td class="text-center">
          <button class="btn btn-info me-2" (click)="DetailConsultation(consultation)"><i class="bi bi-card-heading"></i></button>
          <button class="btn btn-danger" (click)="deleteConsultation(consultation)"><i class="bi bi-trash3"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>